html {
  color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    padding: 1em;
    

    background-color: canvas;
    color: canvastext;

    --color-accent: oklch(65% 50% 0);
    accent-color: var(--color-accent);

  }

  nav {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;

    --border-color: oklch(50% 10% 200 / 40%);
    /* border-bottom: 1px solid var(--border-color); */
  }

  nav a{
    flex: 1;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;

  }

  nav a.current{
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.2em;
  }



  nav a:hover{
    border-bottom: 0.4em solid var(--color-accent);
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
    padding-bottom: 0.2em;


    color: canvastext;
  }


  form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
  }

  .grid { 
    grid-column: 1 / -1;
  }

  button {
    grid-column: 1 / -1;
  }

  input, textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .projects {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
    padding: 1em;
  }

  .projects article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;

  }

  .projects h2 {
    margin: 0;
    font-size: 2em;
  }

  main section {
    padding-top: 1em;
    border-top: 2px solid #ccc;
    margin-top: 1em;
    margin-bottom: 1em;

  }

  section article p {
    display: flex;
    justify-content: space-between;
  }

  section article time {
    margin-left: auto;
  }

  h1 {
    font-size: 400%;
    line-height: 1.1;
    text-wrap: balance;
  }

  h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
  }

  .header-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-date time {
    font-size: 0.9em;
    color: #666;

  }

  a {
    color: blue;
  }

  a:hover {
    color: purple;
  }

  .color-scheme{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.8rem;
  }

  .color-scheme select{
    font-family: inherit;
  }

  body[data-theme="dark"] {
    background-color: #333;
    color: #fff;
  }
  
  body[data-theme="light"] {
    background-color: #fff;
    color: #000;
  }

  html[data-theme="dark"] {
    background-color:  #333;
    color: #fff;
  }
  
  html[data-theme="light"] {
    background-color: #fff;
    color: #000;
  }


  #projects-pie-plot {
    max-width: 20em;
    margin-block: 2em;
  
    overflow: visible;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 4rem;

  }

  .legend {
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    gap: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 1rem 0;
    flex: 1;
    list-style: none;

  }


  .legend li {
    display: flex;
    align-items: center;
    border: none;
    gap: 5px;
    
  }



  .legend li .swatch {
    width: 14px;
    height: 14px;
    border-radius: 4px;
    display: inline-block;
    background-color: var(--color);
  }

  path {
    transition: 300ms;
    cursor: pointer;
  }

  &:has(path:hover) {
    path:not(:hover) {
      opacity: 0.5;
    }
  }


  .selected {
    --color: oklch(60% 45% 0) !important;
    &:is(path) {
      fill: var(--color);
    }
    &:is(li) {
      font-weight: bold;
      /* color: var(--color); */
    }}




.gridlines line {
  stroke: #ddd;
  shape-rendering: crispEdges;
}



dl.info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px 8px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info dt {
  font-weight: bold;
  color: #555;
}

dl.info dd {
  margin: 0;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 100;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;

}

circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
}

circle:hover {
  transform: scale(1.5);
}


@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

circle.selected {
  fill: #ff6b6b;
}


